# Copy to ~/.config/netdrop
client:
  server: remote_ip
  port: 15000
  sender: mlang
#  username: john
  password: 1234
  #output-file: /var/lib/brltty/clipboard
server:
  address: 0.0.0.0
  port: 15000
#  username: john
  password: 1234

